<tr>
    <td>{{id}}</td>
    <td>{{firstName}} {{lastName}}</td>
    <td>{{personalNumber}}</td>
    {{>edit-member-controls}}
</tr>
{{#if boats}}
    <td colspan="6">
    <table>
        <thead>
            <th>id</th>
            <th>Type</th>
            <th>Length</th>
            <th></th>
            <th></th>
            <th></th>
        </thead>

    {{#each boats}}
        {{>boat-list-row}}
    {{/each}}
    </table>
    </td>
{{/if}}
