<tr class="row-member">
    <td>{{id}}</td>
    <td>{{firstName}} {{lastName}}</td>
    <td>{{personalNumber}}</td>
    {{>edit-member-controls}}
</tr>
{{#if boats}}
    <td colspan="2" class="table-boats-parent">
        <table class="table-boats">
            <thead>
                <th>Boat type</th>
                <th>Length</th>
                <th></th>
            </thead>
            {{#each boats}}
                {{>boat-list-row}}
            {{/each}}
        </table>
    </td>
{{/if}}
