<nav>
    <ul>
        <a href="/"><li><b>Happy Pirate</b></li></a>
        <a href="/members/list/compact"><li>Compact List</li></a>
        <a href="/members/list/verbose"><li>Verbose List</li></a>
        <a href="/members/new"><li>Register member</li></a>
    </ul>
</nav>
