<nav>
    <ul>
        <a href="#"><li>☠</li></a>
        <a href="#"><li>Compact List</li></a>
        <a href="#"><li>Verbose List</li></a>
        <a href="#"><li>Register member</li></a>
    </ul>
</nav>
