<h2>Index</h2>
<ul>
    <li><a href="/members/list/compact">Compact member list</a></li>
    <li><a href="/members/list/verbose">Verbose member list</a></li>
    <li><a href="/members/new">Register member</a></li>
</ul>
