<h2>Index</h2>
<ul>
    <li><a href="/members/list/compact">Compact member list</a></li>
    <li><a href="/members/list/verbose">Verbose member list</a></li>
    <li><a href="/members/new">Register member</a></li>
</ul>

<h3>Search members</h3>
<form class="form-member-search" action="/members/search" method="post">
    <input type="text" name="input-member-search" value="" placeholder="Search">
    <input type="submit" name="submit-member-search" value="Search">
</form>
