<h2>The Happy Pirate - Workshop 2</h2>
<h4>Course</h4>
<a href="https://coursepress.lnu.se/kurs/objektorienterad-analys-och-design-med-uml/">1dv607</a>
<h4>Students</h4>
<ul>
    <li>Daniel Sundberg - <a href="mailto:ds222me@student.lnu.se">ds222me@student.lnu.se</a></li>
    <li>Christoffer Ekberg - <a href="mailto:ce222pc@student.lnu.se">ce222pc@student.lnu.se</a></li>
</ul>
