<h2>View members</h2>
<table>
    <thead>
        <tr>
            <td>id</td>
            <td>Name</td>
            <td>Boats</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    {{#each members}}
        {{#if ../verbose}}
            {{>member-verbose-table}}
        {{else}}
            {{>member-compact-table}}
        {{/if}}
    {{/each}}
</table>
