<h2>View members</h2>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Boats</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    {{#each members}}
        {{#if ../verbose}}
            {{>member-verbose-table}}
        {{else}}
            {{>member-compact-table}}
        {{/if}}
    {{/each}}
</table>
