<h2>Register a new boat</h2>
<form class="" action="" method="post">
    <select name="type">
        <option value="Sailboat">Sailboat</option>
        <option value="Motorsailer">Motorsailer</option>
        <option value="Kayak/Canoe">Kayak/Canoe</option>
        <option value="Other">Other</option>
    </select>
    <input type="number" name="boatLength" value="{{boatLength}}">
    <input type="hidden" name="memberID" value="{{memberID}}">
    <input type="submit" name="register" value="Register">
</form>
