<h2>Register a new member</h2>
<form class="" action="" method="post">
    <input type="text" name="firstName" value="" placeholder="First name">
    <input type="text" name="lastName" value="" placeholder="Last name">
    <input type="text" name="personalNumber" value="" placeholder="Personal number">
    <input type="submit" name="register" value="Register">
</form>
