html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}

.logo {
    display: inline-block;
    transform: scale(4) translateY(-0.24em);
}

.logo-li {
    background-color: #609eca;
    padding: 1.6em 2em 1.6em 2em;
}

.logo-li:hover {
    background-color: #6aaddd;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #3a3a3a;
}

nav ul li {
    display: inline-block;
    padding: 1.6em;
    text-decoration: none;
}

nav ul li:hover{
    background-color: #4f4f4f;
}

nav a, nav a:visited {
    color: #fff;
}

main {
    padding: 4em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    text-align: left;
    background-color: #609eca;
    color: #fff;
}

td, th{
    padding: 1em;
    margin: 0;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

.table-boats {
    font-size: 0.8em;
    padding: 0;
}

.table-boats thead {
    color: #2b2b2b;
    background-color: rgba(0,0,0,0);
}

.table-boats th {
    padding: 0;

}

.table-boats tr {
    background-color: rgba(0,0,0,0);
}

.table-boats td {
    padding: 0;
}

input {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    border: 0.2em solid #e6e6e6;
    display: block;
    margin: 1em 1em 1em 0 ;
    padding: 0.6em;
    width: 100%;
    max-width: 25em;
}

input[type="text"], input[type="number"] {
    box-sizing:border-box;
}

input[type="submit"] {
    color: #fff;
    background-color: #5193c9;
    border: 0.2em solid #5193c9;
}

input[type="submit"]:hover {
    cursor: pointer;
    color: #fff;
    background-color: #54a1e0;
    border: 0.2em solid #54a1e0;
}


a, a:visited {
    color: #4e98d5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
