html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #3a3a3a;
}

nav ul li {
    display: inline-block;
    padding: 1.6em;
    text-decoration: none;
}

nav ul li:hover{
    background-color: #4f4f4f;
}

nav a:visited {
    color: #fff;
}

main {
    padding: 2em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    background-color: #5193c9;
    color: #fff;
}

td, th{
    padding: 1em;
    margin: 0;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}

input {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    border: 0.2em solid #e6e6e6;
    display: block;
    margin: 1em;
    padding: 0.6em;
    min-width: 20em;
}

input[type="submit"] {
    color: #fff;
    background-color: #5193c9;
    border: 0.2em solid #5193c9;
}

input[type="submit"]:hover {
    cursor: pointer;
    color: #fff;
    background-color: #54a1e0;
    border: 0.2em solid #54a1e0;
}
